# direnv
.direnv/

# nix
result
result-*

# generic
dist/

# Go
go.work
go.work.sum
cover.out
*cover.out
cover.html
coverage/
# kubebuilder
bin/

# kind local development
kubeconfig.yaml


# MacOS
.DS_Store
