apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: controller-manager-metrics-monitor
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: multigres-operator
    app.kubernetes.io/component: monitoring
spec:
  endpoints:
    - port: https
      scheme: https
      path: /metrics
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        insecureSkipVerify: true
  selector:
    matchLabels:
      control-plane: controller-manager
      app.kubernetes.io/name: multigres-operator
