---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multigres.com
  resources:
  - cells
  - shards
  - toposervers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multigres.com
  resources:
  - cells/finalizers
  - shards/finalizers
  - toposervers/finalizers
  verbs:
  - update
- apiGroups:
  - multigres.com
  resources:
  - cells/status
  - shards/status
  - toposervers/status
  verbs:
  - get
  - patch
  - update
