---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multigres.com
  resources:
  - cells
  - multigresclusters
  - shards
  - tablegroups
  - toposervers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multigres.com
  resources:
  - cells/finalizers
  - multigresclusters/finalizers
  - shards/finalizers
  - toposervers/finalizers
  verbs:
  - update
- apiGroups:
  - multigres.com
  resources:
  - cells/status
  - multigresclusters/status
  - shards/status
  - tablegroups/status
  - toposervers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - multigres.com
  resources:
  - celltemplates
  - coretemplates
  - shardtemplates
  verbs:
  - get
  - list
  - watch
