apiVersion: multigres.com/v1alpha1
kind: MultigresCluster
metadata:
  name: inline
  namespace: default
spec:
  pvcDeletionPolicy:
    whenDeleted: Delete
    whenScaled: Delete
  # ----------------------------------------------------------------
  # 1. Global Components (Inline)
  # ----------------------------------------------------------------
  globalTopoServer:
    etcd:
      image: "gcr.io/etcd-development/etcd:v3.6.7"
      replicas: 3
      storage:
        size: "10Gi"
        class: "standard"
      resources:
        requests:
          cpu: "100m"
          memory: "256Mi"
        limits:
          cpu: "200m"
          memory: "512Mi"

  multiadmin:
    spec:
      replicas: 2
      resources:
        requests:
          cpu: "100m"
          memory: "128Mi"
        limits:
          cpu: "200m"
          memory: "256Mi"

  # ----------------------------------------------------------------
  # 2. Cell Definitions (Inline)
  # ----------------------------------------------------------------
  cells:
    - name: "z1"
      zone: "z1"
      spec:
         multigateway:
           replicas: 2
           resources:
             requests:
               cpu: "100m"
               memory: "128Mi"
             limits:
               cpu: "200m"
               memory: "256Mi"

  # ----------------------------------------------------------------
  # 3. Database Topology (Inline)
  # ----------------------------------------------------------------
  databases:
    - name: "postgres"
      default: true
      tablegroups:
        - name: "default" # Gateway requires this name at the moment.
          default: true
          shards:
            - name: "0-inf"
              spec:
                multiorch:
                  cells:
                    - "z1"
                  resources:
                    requests:
                      cpu: "50m"
                      memory: "64Mi"
                    limits:
                      cpu: "100m"
                      memory: "128Mi"

                pools:
                  main:
                    type: "readWrite"
                    cells:
                      - "z1"
                    replicasPerCell: 2
                    storage:
                      class: "standard"
                      size: "100Gi"
                    postgres:
                       resources:
                           requests:
                             cpu: "100m"
                             memory: "256Mi"
                           limits:
                             cpu: "500m"
                             memory: "512Mi"
                    multipooler:
                       resources:
                          requests:
                            cpu: "50m"
                            memory: "64Mi"
                          limits:
                            cpu: "200m"
                            memory: "128Mi"
