apiVersion: multigres.com/v1alpha1
kind: CoreTemplate
metadata:
  name: "standard-core"
  namespace: default
spec:
  globalTopoServer:
    etcd:
      image: "quay.io/coreos/etcd:v3.5"
      replicas: 3
      storage:
        size: "10Gi"
        class: "standard-gp3"
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
        limits:
          cpu: "1"
          memory: "2Gi"

  multiadmin:
    replicas: 2
    resources:
      requests:
        cpu: "200m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
