name: Security scanning

on:
  workflow_call: {}

permissions:
  contents: read

jobs:
  scan-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        # this action requires a base and head
        # ensure that trunk changes require pull request checks to pass
        if: ${{ github.event_name == 'pull_request' }}
