name: Build & Release

on:
  workflow_call:
    inputs:
      architectures:
        description: A JSON list of GOARCH values for which to build
        default: '["amd64", "arm64"]'
        required: false
        type: string
      push-container-image:
        description: Whether to push the resulting container image to the registry
        default: false
        required: false
        type: boolean

permissions:
  contents: write
  packages: write
  security-events: write

jobs:
  test-go:
    strategy:
      matrix:
        module:
          - "."
          - "./api"
          - "./pkg/cluster-handler"
          - "./pkg/data-handler"
          - "./pkg/resource-handler"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: ${{ matrix.module }}/go.mod

      - name: Run tests
        run: |-
          cd ${{ matrix.module}}
          go test ./... -coverprofile=./cover.out -covermode=atomic -coverpkg=./...


  build-scan-push-container:
    needs: [ test-go ]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker for multi-platform
        uses: docker/setup-docker-action@3fb92d6d9c634363128c8cce4bc3b2826526370a # v4.4.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log into registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: Dockerfile
          platforms: linux/${{ join(fromJson(inputs.architectures), ',linux/') }}
          load: true
          push: false
          tags: "ghcr.io/${{ github.repository }}:${{ github.sha }}"
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=oci,dest=container-image.tar

      - name: Push to registry (sha)
        run: |
          IMAGE="ghcr.io/${{ github.repository }}"
          docker push "$IMAGE:${{ github.sha }}"

      # grype requires that the container image be pushed already because
      # the scanner runs in a container with a different local registry
      - name: Scan final image with grype
        id: scan
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7.1.0
        continue-on-error: true
        with:
          cache-db: true
          image: "ghcr.io/${{ github.repository }}:${{ github.sha }}"
          output-file: grype.sarif
          severity-cutoff: high
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047 # v4.30.9
        with:
          sarif_file: grype.sarif
      - name: Check success or failure
        if: ${{ steps.scan.outcome == 'failure' }}
        run: |-
          jq '.runs[0].results | map(select(.level == "error"))' grype.sarif
          exit 1

      - name: Push to registry (latest)
        if: ${{ inputs.push-container-image }}
        run: |
          IMAGE="ghcr.io/${{ github.repository }}"
          docker tag "$IMAGE:${{ github.sha }}" "$IMAGE:latest"
          docker push "$IMAGE:latest"
