name: Build main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.txt"

permissions:
  contents: write
  packages: write
  security-events: write

jobs:
  build:
    name: Build
    uses: ./.github/workflows/_reusable-build-changed.yaml

  run:
    uses: ./.github/workflows/build-and-release.yaml
    with:
      push-container-image: true
