name: Build main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.txt"

permissions:
  contents: write
  packages: write
  security-events: write

jobs:
  scan:
    name: Security Scan
    uses: ./.github/workflows/_reusable-scan.yaml
    permissions:
      contents: read
      security-events: write

  build:
    name: Build
    uses: ./.github/workflows/_reusable-build-changed.yaml

  run:
    uses: ./.github/workflows/build-and-release.yaml
    with:
      push-container-image: true

  coverage:
    name: Coverage
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/_reusable-test-coverage.yaml
    with:
      COVERAGE_THRESHOLD: 0 # Because there is no test, setting threshold to 0
