name: CI

on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.txt"

permissions:
  contents: write
  packages: write

jobs:
  scan-dependencies:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
  build:
    name: Build
    uses: ./.github/workflows/_reusable-build-changed.yaml
  manifests:
    name: Manifests
    uses: ./.github/workflows/_reusable-manifests.yaml
  coverage:
    name: Coverage
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/_reusable-test-coverage.yaml
    with:
      COVERAGE_THRESHOLD: 0 # Because there is no test, setting threshold to 0
