name: CI

on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*.txt"

permissions:
  contents: write
  packages: write
  security-events: write

jobs:
  scan:
    name: Security Scan
    uses: ./.github/workflows/_reusable-scan.yaml
    permissions:
      contents: read
      security-events: write
  build:
    name: Build
    uses: ./.github/workflows/_reusable-build-changed.yaml
  manifests:
    name: Manifests
    uses: ./.github/workflows/_reusable-manifests.yaml
  coverage:
    name: Coverage
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/_reusable-test-coverage.yaml
    with:
      COVERAGE_THRESHOLD: 0 # Because there is no test, setting threshold to 0
