name: Scan intermediate image

on:
  schedule:
    - cron: '0 6 * * *' # daily at 06:00 UTC
  workflow_dispatch: {}

permissions:
  security-events: write

jobs:
  scan-intermediate-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Scan intermediate image with grype
        id: scan
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7.1.0
        continue-on-error: true
        with:
          cache-db: true
          image: "golang:1.25.7-alpine3.23" # sync this with Dockerfile
          output-file: grype.sarif
          severity-cutoff: high
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@16140ae1a102900babc80a33c44059580f687047 # v4.30.9
        with:
          sarif_file: grype.sarif
      - name: Check success or failure
        if: ${{ steps.scan.outcome == 'failure' }}
        run: |-
          jq '.runs[0].results | map(select(.level == "error"))' grype.sarif
          exit 1
